@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Poppins:wght@500;700&family=Raleway:wght@500;700&family=Roboto+Slab:wght@100&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* --------------------------
    title-blog style
    ------------------------ */

.title-blog {
    width: 80%;
    max-width: 1047px;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.title-blog-text h1 {
    font-size: 50px;
    line-height: 1.3em;
}

.title-blog-text p {
    font-size: 20px;
    margin: 15px 0;

}

.primary-button {
    background-color: #E02C6D;
    width: 200px;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
}

.primary-button a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.arrow-icon {
    color: white;
    padding-left: 10px;
    font-size: 18px;
}


.title-blog-img img {
    margin-left: 20px;
    width: 440px;
    height: 414px;

}

/* -----------------------------------
    Popular collection style start
------------------------------------- */

.popular-collection-blog {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1047px;

}

.popular-collection-blog>h1 {
    text-align: center;
    margin: 30px 0 60px 0;
}

.all-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* column-gap: 10px;
    row-gap: 30px; */
}

.collection-box {
    height: 440px;
    width: 300px;
    border-radius: 2px;
    box-shadow: 4px 4px 5px 7px whitesmoke;
}

.collection-box .box-photo img {
    height: 256px;
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px;

}

.box-info {
    padding: 4px 8px;
}

.box-info>h1 {
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.box-info>h3 {
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.ratting-icon {
    margin-bottom: 6px;
}

.ratting-icon .fas {
    color: goldenrod;
}

.ratting-icon .white {
    color: rgba(0, 0, 0, 0.267);
}

.ratting {
    margin-left: 8px;
}

.box-pline-height {
    line-height: 1.3;
}

.see-more-icon {
    margin: 30px 0 0 0;
    /* float: right; */
    max-width: 1047px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;

}

.see-more-icon>a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    margin-right: 25px;

}

.see-more-icon .fa-long-arrow-alt-right {
    font-size: 18px;
    padding-left: 10px;
}

/*---------------------------------
        Footer style start
 --------------------------------- */
footer {
    background-color: #0A0826;
    height: 180px;
    margin-top: 140px;
    padding: 30px 0;
    color: white;
    text-align: center;

    /* h2:after {
        content: ' \00A9'; */
}

.social-icon {
    font-size: 25px;
    margin-top: 20px;
}

.social-icon a {
    text-decoration: none;
    margin: 0 4px;
    padding: 0 6px;
    color: #e02c6eea;
}